#Navbar {
	background-color: 	#000080;
}
.navbarLi:hover {
	background-color: 	#00008B;
}
a.navbarRef {
	font-size:15px;
	font-weight:bold;
}
#ref1, #ref2, #ref3, #ref4 {
	color: #FFFFFF;
}
.navbarRef:hover {
	font-size:18px;
}
#hotelTable, #clientTable, #visitedCountriesTable, #bookingsTable,
#refTable {
	border-style: none;
}
#mainClientContainer, #mainBookingContainer, #findFreeRooms, #freeRooms {
	width:550px;
}
